
.carousel-item-img {
    height: 100vh;
    object-fit: cover;
}

.group-card-img {
    height: 280px;
    border-radius: 5px;
}

.form-btn {
    color: aliceblue;
}

.imgLogoWhatsapp {
    height: 60px;
    width: 60px;
    border-radius: 30%;
    box-shadow: 1px 1px 1px 1px #f54895;
}

.asideWhatsapp {
    height: 100px;
    width: 100vw;
}

.bottonWhatsapp {
    position: fixed;
    right: 4%;
    bottom: 10%;
}
